* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth; 
}
    ul, li {
        list-style: none;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: white;
    }
    
    .desk {
    width: 2000px;
    margin: 0 auto;
    border: 1px solid red;
    }
    .desk-one {
    height: 870px;
    background-image: url(/images/head_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    }
    .desk-two {
    max-height: 410px;
    background-color: white;
    }
    .desk-three {
    max-height: 1140px;
    background-color:#F0F7FF;
    }
    .desk-five {
    max-height: 360px;
    background-color:#F0F7FF;
        }
    
    .box-desk {
    display: flex;
    flex-flow: column nowrap;
    width: 1170px;
    height: 870px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 2px solid yellow;
        &.box-desk__two{
        height: 410px;
        justify-content: center;
        text-transform: none;
        line-height: 2;
        }
    }

    .menu-item{
        display: inline-block;
        width: 150px;
        font-size: 1.7em;
        font-weight: bold;
        margin: 0 50px;
    &:hover{
        border-bottom: 5px solid white;
    }    
    }

    .headline__one {
    font-size: 4.2em;
    font-weight: bold;
    }
    
    .headline__two, .headline__three, .headline__four, .headline__five {
    color: #2992FB;    
    font-size: 4.1em;
    text-transform: none;
    opacity: 0.8;
    }

        .lead__one {
        font-size: 1.4em;
        opacity: 0.7;
        }
    
        .lead__two, .menu__lead{
        font-size: 1.4em;
        color: black;
        }


    .menu-desk__three, .menu-desk__four{
        display: flex;
        flex-flow: row  wrap;
        width: 1170px;
        height: 800px;
        justify-content: space-between;
        align-content: space-around;
        border: 1px solid green;
        .menu_item {
        width: 360px;
        height: 360px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid greenyellow;
        }
    }
    

.menu__subtitle {
    color: #2992FB;    
    font-size: 1.5em;
    font-weight: bold;
}

    .btn {
    width: 205px;
    height: 55px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    opacity: 0.8;
    color: #2992FB;
    line-height: 55px;
    white-space: nowrap;
    background-color: white;
    border: 1px solid white;
    border-radius: 100px;
    }
