* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*------------------variables------------------*/
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;
$family:'Lato', sans-serif;
$fsize-primary: 16px;
$fsize-medium: 24px;
$fsize-title: 50px;
$color1: #3677fd;
$color2: #5a5a5a;
$color-basic: #fff;
$color-cookie: #194277;
$color-bgr: #f1f8ff;

$tablet: 768px;
$mobile: 500px;
/*end of variables*/

/*------------------mixins------------------*/
@mixin font($font, $size, $weight,$color) { 
        font-family: $family;
        font-size: $size;
        font-weight: $weight;
        color: $color;   
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: #{$mobile}) {
        @content;
    }
}

.container {
    width: 1140px;
    padding: 90px 15px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container--small {
    padding: 20px 15px;
}

.title {
    @include font($family, $fsize-title, $weight-light, $color1);
    text-transform: capitalize;
}

.title--header {
    @include font($family, $fsize-title, $weight-black, $color-basic);
    text-transform: uppercase;
     padding: 40px;

    @include mobile {
        font-size: $fsize-medium;
    }
}

/*buttons*/
.btn-wrapper {
    padding: 50px 0;
}
    .btn-container {
        min-width: 200px;
        padding: 20px;
        text-align: center;
        background-color: $color-basic;
        border-bottom-left-radius: 27px;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        border-bottom-right-radius: 27px;
        transition: all 0.3s ease-in-out;

        @include mobile {
            margin: 10px;
        }
        
        .btn {
            width: 100%;
            @include font($family, $fsize-primary, $weight-bold, $color1);
            text-transform: uppercase;
            background-color: $color-basic;
            border: none;
        }

        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 2px 2px $color2;

            .btn {
                cursor: pointer;
                color: $color2;
            }
        }
    }

    .btn-container--small {
        min-width: 120px;
        padding: 10px;

        .btn {
            @include font($family, 12px, $weight-bold, $color-cookie);
            text-transform: capitalize;
        }
    }
/*end of buttons*/


/*HEADER*/
.header {
    // height: 100vh;
    height: 100%;

    .cookies {
        background-color: $color-cookie;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;

            .cookies__desc {
                @include font($family, $fsize-primary, $weight-regular, $color-basic);
                padding: 0 50px;

                @include mobile {
                    padding: 0;
                }
            }

            @include mobile {
                flex-direction: column;;
            }
        }
    }

    .slider {
        background: url(./assets/img/bgr.jpg) 50% no-repeat;
        background-size: cover;

        .nav-menu {
            padding:  10px 0 30px;

            .toggler {
                display: none;
                position: absolute;
                right: 15px;
                width: 42px;
                height: 42px;
    
                @include tablet  {
                    display: block;
    
                &:hover,
                &:active {
                    cursor: pointer;
                }
    
                &:hover + .menu,
                &:active + .menu {
                        display: flex;
                        flex-direction: column;
                        background-color: $color-basic;
                        text-align: center;
                        width: 100%;
                        height: 50vh;
                        border-radius: 9px;

                        .menu__item {
                            color: $color2;
                            padding: 15px;
                        }
                    }
                }
                
                i {
                    font-size: 42px;
                    color: $color-basic;
                }
            }
            
            .menu {
                display: flex;
                justify-content: center;

                &__item {
                    @include font($family, $fsize-medium, $weight-light, $color-bgr);
                    text-transform: capitalize;
                    padding: 5px 10px;
                    transition: all 0.3s ease-in-out;

                    &:hover,
                    &:active {
                        color: $color-cookie;
                        text-shadow: 1px 1px 3px $color-basic;
                    }
                }

             @include tablet {
                 height: 0;
                 overflow: hidden;
                 transition: height 0.4s; 
                 
                 &__ {
                    transition: none;
                 }
             }

             @include tablet {
                 &:hover,
                 &:active {
                    display: flex;
                    flex-direction: column;
                    background-color: $color-basic;
                    text-align: center;
                    width: 100%;
                    height: 50vh;
                    border-radius: 9px;

                    .menu__item {
                        color: $color2;
                        padding: 15px;

                        &:hover,
                        &:active {
                            color: $color1;
                        }
                    }
                 }
             }
        }
    }

        .header-info {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 820px;
            max-width: 100%;
            margin: 0 auto;

            &__logo {
                width:175px;
                height: 175px;
                border-radius: 50%;
                background-color: $color-basic;
                box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
            }

            &__subtitle {
                @include font($family, $fsize-primary, $weight-light, $color-basic);
                text-transform: uppercase;
                opacity: 0.59;
                padding: 5px 0 
            }

            &__control {
                padding: 20px 0;
            }
        }
    }
}


/*MAIN*/

.desc {
    background-color: $color-bgr;
    
    .list {
        display: flex;
        flex-flow: row wrap;

        &__item {
            display: flex;
            flex: 1 0 33%;
            flex-direction: column;
            padding: 25px 15px;

            @include mobile {
                flex: 100%;
            }        

            .list__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 142px;
                height: 142px;
                border: 1px solid $color2;
                border-radius: 50%;
                margin: 0 auto;
                padding: 25px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border: 1px solid $color1;
                    background-color: $color-basic;
                }
            } 

            .list__title {
                @include font($family, $fsize-medium, $weight-bold, $color1);
                text-transform: uppercase;
                padding: 25px;
            }

            .list__desc {
                @include font($family, $fsize-primary, $weight-regular, $color2);
            }
        }
    }
}

/*FOOTER*/

.row {
    background: url(./assets/img/bgr.jpg) 50% no-repeat;
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .content {
            @include font($family, $fsize-title, $weight-light, rgba(255,255,255,0.59));
        
            @include mobile {
                font-size: $fsize-medium;
            }
        }
        
        .content--large {
            font-weight: $weight-bold;
            color: $color-basic;
        }
        
        @include mobile {
            flex-direction: column;;
        }
    }
}

