* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*------------------variables------------------*/
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;
$family:'Lato', sans-serif;
$fsize-primary: 16px;
$fsize-medium: 24px;
$fsize-title: 50px;
$color1: #3677fd;
$color2: #5a5a5a;
$color-basic: #fff;
$color-cookie: #194277;
$color-bgr: #f1f8ff;
$tablet-screen-width: 768px;
$mobile-screen-width: 500px;
/*end of variables*/

/*------------------mixins------------------*/
@mixin font($font, $size, $weight,$color) { 
        font-family: $family;
        font-size: $size;
        font-weight: $weight;
        color: $color;   
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet-screen-width}) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: #{$mobile-screen-width}) {
        @content;
    }
}

.container {
    width: 1140px;
    max-width: 100%;
    padding: 90px 15px;
    margin: 0 auto;
    text-align: center;
}

.examples {
    .container {
    background-color:$color-bgr;
    }
}

.carousel {
    .container {
        background-color:$color-bgr;
    }

    .logo-carousel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.lead {
    font-size: 1.4em;

    &--main {
        line-height: 2;
        color: black;
    }
}    

 
