* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none; }

/*------------------variables------------------*/
/*end of variables*/
/*------------------mixins------------------*/
/*end of mixins*/
/*------------------HEADER------------------*/
.wrapper {
  padding: 100px 0; }

.wrapper--blue {
  background: linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  height: 100vh; }
  .wrapper--blue .nav-menu {
    width: 1140px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center; }
  .wrapper--blue .header {
    width: 1140px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center; }

/*enf of HEADER*/
/*------------------MAIN------------------*/
.block,
.list,
.carousel,
.content {
  width: 1140px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.wrapper--gray {
  background-color: #f1f8ff; }

/*------------------FOOTER*------------------*/
.wrapper--blue-small {
  height: auto; }
